<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
    <div class="container">
    <div class="notification is-primary">
        <h1 class="title">Image Lover App</h1>
        <h2 class="subtitle">Track Your Favorite Images</h2>
        <a href="/auth/signup"><button class="button">SIGNUP</button></a>
        <a href="/auth/login"><button class="button">LOGIN</button></a>
    </div>
    </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>